body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border: 2px solid rgb(140 140 140);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

form{
  margin-top: 50px;
  padding: 10px;
  border: 2px solid;
  width: 300px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

input[type="submit"]{
  grid-area: 4 / 1 / 5 / 3;
}

.readBook{
  background-color: lightgreen;
}
